header {
    background: #116a82;
    padding: 20px 0px;
    border-radius: 0 0 20px 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

body {
    background: #d5dcde;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 10px 0 10px;
}

p {
    display: block;
    font-size: 20px;
    margin: 0 200px 10px;
    font-weight: bold;
}

.input-padrao {
    display: block;
    background: whitesmoke;
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 7px 15px;
    width: 50%;
    border: none 1px;
    box-shadow: 1.5px 2px #116a82;
}

.checkbox-position {
    margin: 20px 0;
}

.button {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(56, 253, 56);
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 2s all;
}

.button:hover {
    background: darkgreen;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

#funcionamentoHorario {
    background: black;
}

thead {
    background: gray;
    color: white;
    font-weight: bold;
}

td, th { 
    border: 1px solid black;
    padding: 8px 15px;
}

footer {
    text-align: center;
    background: url("/img/bg.jpg");
    padding: 10px 10px;
}

.copyright {
    color: #ffffff;
    font-size: 15px;
    margin-top: 60px;
}